{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
            <div class="page-header">
              
                <div class="col-auto text-right float-right ml-auto">
                    <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_add"
                        href="#edit_personal_details">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        Create new Role
                    </a>
                </div>
            </div>
            
        <div class="modal fade" id="modal-default_add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Content Type Information</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                  
                        {% if perms.auth.add_group %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                                <div class="col-12">
                                                </div>
                                                <div class="form-group">
                                                    <label>Role Name</label>
                                                    <input type="text" name="name" class="form-control">
                                                </div>
                                                {% for perm in permission %}
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="{{perm.name}}" value="{{perm.id}}"
                                                            class="checkmail">{{perm.name}}
                                                    </div>
                                                </div>
                                                {% endfor %}

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                </div>
            </div>

            </div>
        </div>
        </section>
        <section class="content">
            <div class="container-fluid">

                {% if roles_dict %}
                <div class="row">
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Role</th>
                                    {% if perms.auth.change_group or perms.auth.delete_group %}
                                    <th class="text-right">Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for role in roles_dict %}
                                <tr>
                                    <td>{{role.role.id}}</td>
                                    <td>
                                    {{role.role.name}}
                                    </td>
                                    {% if perms.auth.change_group or perms.auth.delete_group %}
                                    <td class="text-right">
                                        <div class="actions">
                                            <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                                data-target="#modal-default_{{role.role.id}}"
                                                href="#edit_personal_details"><i class="fas fa-pen">view
                                                    permissions</i></a>
                                            </a>
                                            {% if perms.auth.change_group %}
                                            <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_edit_{{role.role.id}}"
                                            href="#edit_personal_details">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            {% endif %}
                                            {% if perms.auth.delete_group %}
                                            <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                                data-target="#modal-default_delete_{{role.role.id}}"
                                                href="#edit_personal_details">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% endif %}

                                    <div class="modal fade" id="modal-default_delete_{{role.role.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Delete Info</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <h3>Are you sure you want to delete role of
                                                            <b>{{role.role.name}}</b>
                                                        </h3>
                                                        <a href="{% url 'deleteroles' role.role.id %}"
                                                            class="btn btn-sm btn-primary bg-danger-light text-right">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="modal-default_edit_{{role.role.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Edit Role Information</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% if perms.auth.add_group %}
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <form action="{% url 'editroles' role.role.id %}" method="POST">
                                                                        {% csrf_token %}
                                                                            <div class="col-12">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Role Name</label>
                                                            <input type="text" name="name" value="{{role.role.name}}"  class="form-control">
                                                        </div>
                                                        {% for perm in permission %}
                                                        <div class="col-12 col-sm-6">
                                                            <div class="form-group">
                                                                <input type="checkbox" name="{{perm.name}}" value="{{perm.id}}"
                                                                    class="checkmail">{{perm.name}}
                                                            </div>
                                                        </div>
                                                        {% endfor %}
        
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
        
                            </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="modal-default_{{role.role.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Allowed permissions</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% for perm in role.permissions %}
                                                    <div class="col-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label>{{perm.name}}</label>
                                                            <a href="{% url 'RemoveRole' role.role.id perm.id %}"
                                                                class="btn btn-sm btn-primary text-right">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>

                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>

    </div>
</div>
{% load static %} {% include "includes/footer.html" %}