{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Teams</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'DashboardPage' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Teams</li>
                    </ul>
                </div>
                {% if perms.OverManagement.add_team %}
                <div class="col-auto text-right float-right ml-auto">
                    <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                        data-target="#modal-default_add" href="#edit_personal_details">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        Create new Team
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        </section>

        <div class="modal fade" id="modal-default_add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Team Information</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Team name</label>
                                <input type="text" name="name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>description</label>
                                <input type="text" name="description" class="form-control">
                            </div>

                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save changes">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
    
        {% if team_info %}
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Name</th>
                            <th>Desicription</th>
                            {% if perms.OverManagement.change_team or perms.OverManagement.delete_team %}
                            <th class="text-right">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for team in team_info %}
                    <tr>
                        <td>{{team.id}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.description}}</td>
                        {% if perms.OverManagement.change_team or perms.OverManagement.delete_team %}
                        <td class="text-right">
                            <div class="actions">
                                {% if perms.OverManagement.change_team %}
                                <a class="btn btn-primary bg-success-light m-2" data-toggle="modal"
                                    data-target="#modal-default_ass_skill_{{team.id}}" href="#edit_personal_details">
                                    <i class="fas fa-pen"></i>Add Skills
                                </a><a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                    data-target="#modal-default_{{team.id}}" href="#edit_personal_details">
                                    <i class="fas fa-pen"></i>Edit
                                </a>
                                {% endif %} {% if perms.OverManagement.delete_team %}
                                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                    data-target="#modal-default_delete{{team.id}}" href="#edit_personal_details">
                                    <i class="fas fa-trash"></i>Delete
                                </a>
                                {% endif %}
                            </div>
                        </td> {% endif %}

                    </tr>
                    <div class="modal fade" id="modal-default_delete{{team.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete team Information</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure you want to delete team of
                                        <b>{{team.name}}</b>
                                    </h3>
                                    <a href="{% url 'teamDelete' team.id %}"
                                        class="btn btn-primary bg-danger-light text-right">
                                        Delete
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-default_{{team.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit team Information</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'teamEdit' team.id %}" enctype="multipart/form-data"
                                        method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>project name</label>
                                            <input type="text" name="name" value="{{team.name}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>description</label>
                                            <input type="text" name="description" value="{{team.description}}"
                                                class="form-control">
                                        </div>

                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-default_ass_skill_{{team.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Skills Information</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'teamEdit' team.id %}" enctype="multipart/form-data"
                                        method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>project name</label>
                                            <input type="text" name="name" value="{{team.name}}" readonly
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Skills</label>
                                            <select name="Skills_cquired" class="form-select"
                                                id="select-states" value="" multiple>
                                                {% for skill in skills %}
                                                <option value="{{skill.id}}">{{skill.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                        </div>
                                    </form>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </tbody>

                </table>
            </div>
        </div>
        {% endif %}
    </div>
    </section>
</div>
{% include "includes/footer.html" %}