{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{{project_info.name}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Project Report</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <section class="content">
        <div class="container-fluid">  
            <div class="row">
                {% if list_projects %}
                <div class="table-responsive">
                    <table id="example1" class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Production cost</th>
                                <th>other</th>
                                <th>Tax</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        {% for project in list_projects %}
                        <tr>
                            <td>{{project.project.name}}</td>
                            <td>{{project.Production_cost}}</td>
                            <td>{{project.other}}</td>
                            <td>{{project.Tax}}</td>
                            <td>{{project.total_cost}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% include "includes/footer.html" %}