{% load static %} {% include "includes/header.html" %}
{% include "PManagement/project.html" %}

<div class="tab-content pt-2">
    {% if perms.TaskManagement.add_projectuser %}
    <div class="col-auto text-right float-right ml-auto">
      <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
        data-target="#modal-default_add_member" href="#edit_personal_details">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
        Add new Member
      </a>
    </div>
    {% endif %}

    <div class="modal fade" id="modal-default_add_member">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add project Teams Information</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Users</label>

                {% for user in users %}                
                <label class="form-check">
                <input type="checkbox" name="{{user.id}}" class="form-check-input"/>
                <span class="form-check-label">{{user.first_name}} {{user.last_name}}</span>
              </label>
                {% endfor %}
              </div>
              <div class="form-group">
                <label>Position</label>
                <input type="text" name="position" class="form-control">
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save changes">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="table-responsive">
      <table id="example1" class="table table-hover table-center mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for st in project_info.members %}
          <tr>
            <td>               
                {{st.user.first_name}} {{st.user.last_name}}
            </td>
            <th>{{st.position}}</th>
            <td>{{st.user.email}}</td>
            {% if perms.TaskManagement.change_Objectives or perms.TaskManagement.can_assign_sub_project_leader or perms.TaskManagement.delete_Objectives %}
            <td class="text-right">
              <div class="actions">
                {% if perms.TaskManagement.can_assign_sub_project_leader %}
                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                  data-target="#modal-default_assign_leader_{{st.id}}" href="#edit_personal_details">
                  <i class="fas fa-pen"></i>Assign Leader
                </a>
                {% endif %}{% if perms.TaskManagement.delete_Objectives %}
                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                  data-target="#modal-default_delete{{st.id}}" href="#edit_personal_details">
                  <i class="fas fa-trash"></i>Delete
                </a>
                {% endif %}
              </div>
            </td> {% endif %}

            <div class="modal fade" id="modal-default_assign_leader_{{st.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Assign subProject Leader Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'assignProjectLeader' st.id %}" method="POST">
                      {% csrf_token %}
                {% if project_info.subprojects %}
                {% for project in project_info.subprojects %}                
                <label class="form-check">
                <input type="checkbox" name="{{project.id}}" class="form-check-input"/>
                <span class="form-check-label">{{project.name}}</span>
              </label>
                {% endfor %}
                {% endif %}
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Save changes">
              </div>
          </form>

                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="modal-default_delete{{st.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Member Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Are you sure you want to  remove of
                      <b>{{st.user.first_name}}</b>
                    </h3>
                    <a href="{% url 'LeftProject' st.id %}"
                      class="btn btn-primary bg-danger-light text-right">
                      Delete
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
          {% if members %}
          <tr>
            <td colspan="3">
              <div class="actions">
                <a href="" class="btn btn-sm bg-danger-light">
                  <i class="fas fa-trash">Left the group</i>
                </a>
              </div>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    </div>

    {% include "includes/footer.html" %}