{% load static %} {% include "includes/header.html" %} {% include "includes/subTask Sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{{project_info.name}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'subProject' project_info.id %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Teams</li>
                    </ul>
                </div>
                {% if Team_info_not_exist %}
                {% if perms.TaskManagement.add_projectteam %}
                <div class="col-auto text-right float-right ml-auto">
                    <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                        data-target="#modal-default_add" href="#edit_personal_details">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        Create new Teams
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </section>
    </div>

        <div class="modal fade" id="modal-default_add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add project Teams Information</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'TeamManagementAdd' project_info.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Teams</label>

                                <select class="form-select" name="category" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    {% for obj in Team_info_not_exist %}
                                    <option value="{{obj.id}}">{{obj.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save changes">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        
    <section class="content">
        <div class="container-fluid">  
            <div class="row">
                <h3>joined Teams</h3>
                {% if Team_info_exist %}
                <div class="table-responsive">
                    <table id="example1" class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        {% for obj in Team_info_exist %}
                        <tr>
                            <td>{{obj.id}}</td>
                            <td><a href="{% url 'projectTeamContent' project_info.id  obj.id %}">{{obj.name}}</a></td>
                            {% if perms.TaskManagement.change_projectteam or perms.TaskManagement.delete_projectteam %}
                            <td class="text-right">
                                <div class="actions">
                                    {% if perms.TaskManagement.delete_projectteam %}
                                    <a class="btn btn-primary bg-success-light mr-2"
                                        href="{% url 'TeamManagementRemove' project_info.id obj.id %}">
                                        <i class="fas fa-trash"></i>Remove
                                    </a>
                                    {% endif %}
                                </div>
                            </td> {% endif %}

                        </tr>{% endfor %}
                        </tbody>

                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% include "includes/footer.html" %}