{% load static %} {% include "includes/header.html" %} {% include "includes/subTask Sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{{project_info.name}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'subProject' project_info.id %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Project Deliverables</li>
                    </ul>
                </div>
                {% if perms.TaskManagement.add_projectdeliverable %}    
                <div class="col-auto text-right float-right ml-auto">
                    <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                        data-target="#modal-default_add" href="#edit_personal_details">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        create new Project Deliverable
                    </a>
                </div>
                {% endif %}
            </div>
        </section>
    </div>

    <div class="modal fade" id="modal-default_add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Project Equipment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="floatingSelect">Deliverable Name</label>
                        <select class="form-select" name="name" id="floatingSelect"
                            aria-label="Floating label select example">
                            {% for doc in doc_info %}
                            <option value="{{doc.id}}">{{doc.name}}</option>
                            {% endfor %}
                            <option value="other">Other</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="floatingSelect">Status</label>
                            <select class="form-select" name="status" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option value="In Progess">In Progess</option>
                                <option value="Complete">Complete</option>
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Deliverable</label>
                                <input type="file" name="doc" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea row="2" type="text" name="description" class="form-control"></textarea>
                            </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <section class="content">
        <div class="container-fluid">  
            <div class="row">
                {% if project_documents %}
                <div class="table-responsive">
                    <table id="example1" class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Phase</th>
                                <th>Deliverable Name</th>
                                <th>User</th>
                                <th>Status</th>
                                <th>Preview</th>
                            {% if perms.TaskManagement.change_projectdeliverable or perms.TaskManagement.can_verify_deliverable or perms.TaskManagement.delete_projectdeliverable %}
                                <th class="text-right">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for Deliverable in project_documents %}
                        <tr>
                            <td>{{Deliverable.deliverable.phase.name}}</td>
                            <td><a href="{% url 'projectInnerDeliverableList' Deliverable.id %}" target="_blank">{{Deliverable.deliverable.name}}</a></td>
                            <td>{{Deliverable.user.first_name}} {{Deliverable.user.last_name}}</td>
                            {% if Deliverable.status == 'COMPLETED' or Deliverable.status == 'COMPLETED VERIFIED' %}
                            <td><span class=" badge bg-green">{{Deliverable.status}}</span></td>
                            {% elif Deliverable.status == 'ON GOINING' %}
                            <td><span class=" badge bg-red-light">{{Deliverable.status}}</span></td>
                            {% else %}
                            <td><span class=" badge bg-danger">{{Deliverable.status}}</span></td>
                            {% endif %}
                            <td><a class="btn btn-primary bg-success-light mr-2" href="{% static Deliverable.output.url %}">
                                <i class="fas fa-eye"></i>
                            </a></td>
                            {% if perms.TaskManagement.change_projectdeliverable or perms.TaskManagement.delete_projectdeliverable %}
                            <td class="text-right">
                                <div class="actions">
                                    {% if perms.TaskManagement.can_verify_deliverable %}
                                    
                                    {% if Deliverable.status == 'Completed' %}

                                    <a class="btn btn-primary bg-success-light mr-2" href="{% url 'projectEquipmentVerification' Deliverable.id %}">
                                    <i class="fas fa-pen"></i>Verify
                                </a>
                                {% endif %}
                                {% endif %}
                                {% if perms.TaskManagement.change_projectdeliverable %}
                                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                data-target="#modal-default_{{Deliverable.id}}" href="#edit_personal_details">
                                <i class="fas fa-pen"></i>Edit
                                </a>
                                {% endif %} 
                                {% if perms.TaskManagement.delete_projectdeliverable %}
                                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                                    data-target="#modal-default_delete{{Deliverable.id}}" href="#edit_personal_details">
                                    <i class="fas fa-trash"></i>Delete
                                </a>
                                {% endif %}
                            </div>
                        </td> {% endif %}

                        </tr>
                        <div class="modal fade" id="modal-default_delete{{Deliverable.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete equipment</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure you want to delete equipment of
                                            <b>{{Deliverable.name}}</b>
                                        </h3>
                                        <a href="{% url 'equipmentDelete' Deliverable.id %}"
                                            class="btn btn-primary bg-danger-light text-right">
                                            Delete
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-default_{{Deliverable.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Project Deliverable</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'projectDeliverableEdit' Deliverable.id %}"
                                            enctype="multipart/form-data" method="POST">
                                            {% csrf_token %}
                                            {% csrf_token %}
                                            <div class="form-group">
                                            <label for="floatingSelect">Deliverable Name</label>
                                            <select class="form-select" name="name" id="floatingSelect"
                                                aria-label="Floating label select example">
                                                <option value="{{Deliverable.deliverable.id}}">{{Deliverable.deliverable.name}}</option>
                                                {% for doc in doc_info %}
                                                <option value="{{doc.id}}">{{doc.name}}</option>
                                                {% endfor %}
                                                <option value="other">Other</option>
                                            </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="floatingSelect">Status</label>
                                                <select class="form-select" name="status" id="floatingSelect"
                                                    aria-label="Floating label select example">
                                                    <option value="In Progess">In Progess</option>
                                                    <option value="Complete">Complete</option>
                                                </select>
                                                </div>
                                                <div class="form-group">
                                                <label>Deliverable</label>
                                                <input type="file" name="doc" value="{{Deliverable.output.url}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea row="2" type="text" name="description" class="form-control">{{Deliverable.description}}</textarea>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save changes">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div class="modal fade" id="modal-default_allocate{{Deliverable.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Resource Allocation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'projectEquipmentAllocated' Deliverable.id %}" enctype="multipart/form-data" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="floatingSelect">Resource Name</label>
                                                    <input type="text" name="" value="{{Deliverable.category.name}}" readonly class="form-control">
                                                </div>
                                                
                                            <div class="form-group"> 
                                                <label>Available Quantity</label>
                                                <input type="number" value="{{Deliverable.category.total_equipment}}" readonly class="form-control">
                                            </div>
                                                <div class="form-group">
                                                    <label>Allocated Quantity</label>
                                                    <input type="number" name="number_equipment" value="{{Deliverable.number_equipment}}" class="form-control">
                                                </div>
                    
                                                            <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                                </div>
                                            </form>
                                        </div>
        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </tbody>

                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% include "includes/footer.html" %}