{% load static %} {% include "AssetManagement/asset.html" %}
    <div class="col-md-10">
        <div class="card">
            <div class="page-header d-print-none">
                <div class="container-xl m-2">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">{{asset.name}} status</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'DashboardPage' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">{{asset.name}} status List</li>
                        </ul>
                    </div>
                    {% if perms.AssetManagement.add_assetstatus %}
                    <div class="col-auto text-right float-right ml-auto">
                        <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                            data-target="#modal-default_add" href="#edit_personal_statuss">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            Create new {{asset.name}} status
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="modal fade" id="modal-default_add">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add {{asset.name}} status Information</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>{{Asset.name}} statuss</label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
\                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Save changes">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        {% if asset_info %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="example1" class="table table table-hover table-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th>statuss</th>
                                                    <th>asset</th>
                                                    <th>Updated by</th>
                                                    {% if perms.AssetManagement.change_assetstatus or perms.AssetManagement.delete_assetstatus %}
                                                    <th class="text-right">Action</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for status in asset_info %}
                                                <tr>
                                                    <td>{{status.name}}</td>
                                                    <td>{{status.asset.name}}</td>
                                                    <td>{{status.update_by.full_name}}</td>
                                                    {% if perms.AssetManagement.change_assetstatus or perms.AssetManagement.delete_assetstatus %}
                                                    <td class="text-right">
                                                        <div class="actions">
                                                            {% if perms.AssetManagement.change_assetstatus %}
                                                            <a class="btn btn-primary bg-success-light mr-2"
                                                                data-toggle="modal"
                                                                data-target="#modal-default_{{status.id}}"
                                                                href="#edit_personal_statuss">
                                                                <i class="fas fa-pen"></i>Edit
                                                            </a>
                                                            </a>
                                                            {% endif %} {% if perms.AssetManagement.delete_assetstatus %}
                                                            <a class="btn btn-primary bg-success-light mr-2"
                                                                data-toggle="modal"
                                                                data-target="#modal-default_delete{{status.id}}"
                                                                href="#edit_personal_statuss">
                                                                <i class="fas fa-trash"></i>Delete
                                                            </a>
                                                            {% endif %}
                                                        </div>
                                                    </td> {% endif %}

                                                </tr>

                                                <div class="modal fade" id="modal-default_delete{{status.id}}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete {{status.name}} status Information
                                                                </h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Are you sure you want to delete {{Asset.name}} status of
                                                                    <b>{{status.name}}</b>
                                                                </h3>
                                                                <a href="{% url 'assetStatusDelete' status.id %}"
                                                                    class="btn btn-primary bg-danger-light text-right">
                                                                    Delete
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="modal-default_{{status.id}}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit {{Asset.name}} status Information
                                                                </h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'assetStatusEdit' status.id %}"
                                                                    enctype="multipart/form-data" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label>{{asset.name}} status</label>
                                                                        <input type="text" name="name"
                                                                            value="{{status.name}}" class="form-control">
                                                                    </div>
                                                                    <div class="modal-footer justify-content-between">
                                                                        <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close</button>
                                                                        <input type="submit" class="btn btn-primary"
                                                                            value="Save changes">
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

        {% include "includes/footer.html" %}