{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="content-wrapper bg-white">
    <div class="content container-fluid">
        <section class="content-header">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">asset category</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'DashboardPage' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">asset category List</li>
                </ul>
            </div>
            {% if perms.AssetManagement.add_assetcategory %}
            <div class="col-auto text-right float-right ml-auto">
                <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_add"
                    href="#edit_personal_details">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                    Create new asset category
                </a>
            </div>
            {% endif %}
        </div>
      </div>
    </div></section>
    </div>
    
    <div class="modal fade" id="modal-default_add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add asset category Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
{% if assetCategory_info %}
    <div class="row">
        <div class="col-12">
    <div class="card">
        <div class="card-body">
          <table id="example1" class="table table table-hover table-center mb-0">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Created by</th>
                    <th>Updated by</th>
                   {% if perms.AssetManagement.change_assetcategory or perms.AssetManagement.delete_assetcategory %}
                    <th class="text-right">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for assetcategory in assetCategory_info %}
            <tr>
                <td>{{assetcategory.id}}</td>
                <td>{{assetcategory.name}}</td>
                <td>{{assetcategory.created_by.full_name}}</td>
                <td>{{assetcategory.update_by.full_name}}</td>
                {% if perms.AssetManagement.change_assetcategory or perms.AssetManagement.delete_assetcategory %}
                <td class="text-right">
                    <div class="actions">
                        {% if perms.AssetManagement.change_assetcategory %}
                        <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                            data-target="#modal-default_{{assetcategory.id}}" href="#edit_personal_details">
                            <i class="fas fa-pen"></i>Edit
                            </a>
                        </a>
                        {% endif %} {% if perms.AssetManagement.delete_assetcategory %}
                        <a class="btn btn-primary bg-success-light mr-2" data-toggle="modal"
                            data-target="#modal-default_delete{{assetcategory.id}}" href="#edit_personal_details">
                            <i class="fas fa-trash"></i>Delete
                        </a>
                        {% endif %}
                    </div>
                </td> {% endif %}

            </tr>
        
            <div class="modal fade" id="modal-default_delete{{assetcategory.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete assetcategory Information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Are you sure you want to delete content category of
                                <b>{{assetcategory.name}}</b>
                            </h3>
                            <a href="{% url 'assetCategoryDelete' assetcategory.id %}"
                                class="btn btn-primary bg-danger-light text-right">
                                Delete
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-default_{{assetcategory.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Content category Information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'assetCategoryEdit' assetcategory.id %}" enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" name="name" value="{{assetcategory.name}}" class="form-control">
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            </tbody>

          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
</div>
{% endif %}
        </div></section>
</div>

{% include "includes/footer.html" %}